<?xml version="1.0" encoding="utf-8"?>

<configuration>    
  <packageSources>
    <add key="local" value="/home/user/nuget" />
    <add key="MyNuGetRegistry" value="/home/user/Documents/MyNuGetRegistry" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="MyNuGetRegistry">
      <package pattern="IziHardGames.*" />
      <package pattern="ChanIvan.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>